<div>
    <p class="text-medium-emphasis text-xs font-normal">@Label</p>
    <p class="text-high-emphasis text-sm">@Value</p>
</div>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
}
